---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import NoImageSVG from "../../assets/SVG/noimage.svg";
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/layout/Title.astro";

const newsItems = (await getCollection("news")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <Title title="お知らせ" heroImage="../src/assets/sunset.jpeg" />
  <section class="mx-auto w-full max-w-4xl px-4 py-12">
    {
      newsItems.length === 0 ? (
        <p class="text-gray-300">現在、お知らせはありません。</p>
      ) : (
        <ul class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4">
          {newsItems.map((item) => (
            <li class="list-none border p-4 transition hover:border-gray-400">
              <a href={`/news/${item.id}/`} class="block">
                <div class="mb-4 aspect-4/3 w-full overflow-hidden bg-gray-900">
                  {item.data.heroImage ? (
                    <Image
                      src={item.data.heroImage}
                      alt={item.data.title}
                      class="h-full w-full object-cover"
                    />
                  ) : (
                    <div class="flex h-full w-full items-center justify-center text-sm text-gray-400">
                      <NoImageSVG class="fill-white" />
                    </div>
                  )}
                </div>
                <h class="text-lg font-semibold">{item.data.title}</h>
                <p class="text-gray-400">{item.data.description}</p>
                <p class="text-sm text-gray-500">
                  {item.data.pubDate.toLocaleDateString("ja-JP", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}{" "}
                  更新
                </p>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </section>
</Layout>
